# A F4Enix quick tour

F4Enix allows you to parse and manipulate a number of files that are commonly found in any neutronics pre and post-processing pipeline. Detailing the full capabilities of the package can be quite a long process. Luckily, extensive usage examples that are classified by type of file being processed can be found in the [Examples section](examples/examples_idx.html). The scope of this tour instead is to give a first feeling of what F4Enix can do and how it could be integrated in your workflow.

If you did not install ``f4enix`` yet, please refer to the [installation instructions](usage/installation.html).

## Pre-process an MCNP input

For the purpose of this example, let's imagine to have a simple model that includes only a sphere

In [20]:
from f4enix import Input

inp = Input.from_input('Sphere.i')
print('CELLS:')
for _, cell in inp.cells.items():
    print(cell.card())

print('SURFACES:')
for _, surf in inp.surfs.items():
    print(surf.card())

CELLS:
1  0          -1    IMP:N=1   IMP:P=1

2  1 -0.302  +1 -2     IMP:N=1   IMP:P=1

3  0          +2    IMP:N=0   IMP:P=0

SURFACES:
1 S 0 0 0 5

2 S 0 0 0 50

3 S 0 0 0 60

In [22]:
from copy import deepcopy

idx_universe = 1  # universe ID to be used
for key, cell in inp.cells.items():
    if cell.get_m() == 1:
        # prepare the filler
        fill_cell = inp.add_cell_fill_u(cell, 'u', idx_universe, inplace=False)
        

        # prepare the envelope
        inp.set_cell_void(cell)  # remove the material from the cell
        inp.add_cell_fill_u(cell, 'fill', idx_universe)

# add the filler cell to the input
inp.cells['10'] = fill_cell

print('CELLS:')
for _, cell in inp.cells.items():
    print(cell.card())

CELLS:
1  0          -1    IMP:N=1   IMP:P=1

2 0  +1 -2 fill=1 IMP:N=1 IMP:P=1

3  0          +2    IMP:N=0   IMP:P=0

2 1 -0.302 +1 -2 u=1 IMP:N=1 IMP:P=1

In [4]:
import pandas as pd


df = pd.DataFrame(
    [[1,2, 3],
     [4, 5, 6],
     [7, 8, 9]],
    columns=['A', 'B', 'C'])

df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
subset = ('A', 4)
if name in []:
    df.set_index('A').iloc[1:]

   B  C
A
4  5  6
7  8  9

slice(None, 1, None)